# Binaries for ETL service
/etl
/quotron
/etl-service
/etl-test
/etl-watcher
/etl-worker
/redis-pub
/redis-sub
/test/etl_publisher
/test/etl_worker
/test/redis_monitor
/test/redis_sub
/test/redis_test

# Go test files
*.test
*.out

# Dependency directories
/vendor/

# IDE / editor files
.idea/
.vscode/
*.swp
*.swo.data/
